<h2>Admin panel</h2>

<hr />

<div class="list-group">
    <button type="button" class="list-group-item">@Html.ActionLink("Users", "Users", "Admin")</button>
    <button type="button" class="list-group-item">@Html.ActionLink("Groups", "Index", "Groups")</button>
    <button type="button" class="list-group-item">@Html.ActionLink("Degrees", "Index", "Degrees")</button>
    <button type="button" class="list-group-item">@Html.ActionLink("Positions", "Index", "PositionModels")</button>
    <button type="button" class="list-group-item">@Html.ActionLink("Teachers", "Index", "TeacherModels")</button>
    <button type="button" class="list-group-item">@Html.ActionLink("Files", "Index", "File")</button>
</div>
<hr />
<ul class="nav nav-pills nav-stacked">
    <li>@Html.ActionLink("Users", "Users", "Admin")</li>
    <li>@Html.ActionLink("Groups", "Index","Groups")</li>
    <li>@Html.ActionLink("Degrees", "Index", "Degrees")</li>
    <li>@Html.ActionLink("Positions", "Index", "PositionModels")</li>
    <li>@Html.ActionLink("Teachers", "Index", "TeacherModels")</li>
    <li>@Html.ActionLink("Files", "Index", "File")</li>
</ul>
