@model Schedule.Models.LoadModels.ZOLoadRegular

@{
    ViewBag.Title = "DeleteZO";
}

<h2>Удалить</h2>

<h3>Уверены что хотите удалить запись?</h3>
<div>
    <h4>Заочная нагрузка</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.LoadName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoadName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StudentKind)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StudentKind)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
