@model IEnumerable<Schedule.Models.DTOs.ZOLoadDTO>

@{
    ViewBag.Title = "Нагрузка";
}

<h2>@ViewBag.LoadName</h2>
<hr />
<h3>@ViewBag.LoadKind</h3>
<hr />
<style>
    .layer {
        overflow-x: scroll;
    }

    th, td {
        vertical-align: middle;
        margin: 0 auto;
    }
</style>
<div class="table-responsive layer">
    <table class="table table-condensed table-hover table-bordered text-center">
        <thead>
            <tr>
                <th rowspan="2" class="text-center">
                    @Html.DisplayNameFor(model => model.SubjectName)
                </th>
                <th rowspan="2" class="text-center">
                    @Html.DisplayNameFor(model => model.Grade)
                </th>
                <th rowspan="2" class="text-center">
                    @Html.DisplayNameFor(model => model.GroupCount)
                </th>
                <th rowspan="2" class="text-center">
                    @Html.DisplayNameFor(model => model.StudentCount)
                </th>
                <th rowspan="2" class="text-center">
                    @Html.DisplayNameFor(model => model.Term)
                </th>

                <th colspan="4" class="text-center">
                    Наставная сессия
                </th>
                @*<th>
                @Html.DisplayNameFor(model => model.DateFirst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LectionCountFirst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PracticeLabCountFirst)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PracticeLabCountFirstAll)
            </th>*@
                <th rowspan="2" class="text-center">
                    @Html.DisplayNameFor(model => model.DZ)
                </th>
                <th rowspan="2" class="text-center">
                    @Html.DisplayNameFor(model => model.BetweenSessionConsult)
                </th>

                <th colspan="6" class="text-center">
                    Экзаменационная сессия
                </th>
                @*<th>
                @Html.DisplayNameFor(model => model.DateSecond)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LectionCountSecond)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PracticeCountSecond)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PracticeCountSecondAll)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LabCountSecond)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LabCountSecondAll)
            </th>*@
                <th rowspan="2" class="text-center">
                    @Html.DisplayNameFor(model => model.HoursForCourseWork)
                </th>

                <th colspan="2" class="text-center">
                    Консультация
                </th>
                @*<th>
                @Html.DisplayNameFor(model => model.Cons)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConsAll)
            </th>*@
                <th rowspan="2" class="text-center">
                    @Html.DisplayNameFor(model => model.ExamHours)
                </th>
                <th rowspan="2" class="text-center">
                    @Html.DisplayNameFor(model => model.DivHours)
                </th>
                <th rowspan="2" class="text-center">
                    @Html.DisplayNameFor(model => model.AllHours)
                </th>
                <th rowspan="2" class="text-center">
                    @Html.DisplayNameFor(model => model.TeacherName)
                </th>
                <th rowspan="2" class="text-center">
                    @Html.DisplayNameFor(model => model.PartOfYear)
                </th>
                <th rowspan="2" class="text-center">
                    @Html.DisplayNameFor(model => model.Npr)
                </th>
                <th rowspan="2" class="text-center">
                    @Html.DisplayNameFor(model => model.CreditsECTS)
                </th>
                <th rowspan="2" class="text-center">
                    @Html.DisplayNameFor(model => model.SelfWorkHours)
                </th>
            </tr>
            <tr>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.DateFirst)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.LectionCountFirst)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.PracticeLabCountFirst)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.PracticeLabCountFirstAll)
                </th>

                <th class="text-center">
                    @Html.DisplayNameFor(model => model.DateSecond)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.LectionCountSecond)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.PracticeCountSecond)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.PracticeCountSecondAll)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.LabCountSecond)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.LabCountSecondAll)
                </th>

                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Cons)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.ConsAll)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SubjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Grade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GroupCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Term)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateFirst)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LectionCountFirst)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PracticeLabCountFirst)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PracticeLabCountFirstAll)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DZ)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BetweenSessionConsult)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateSecond)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LectionCountSecond)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PracticeCountSecond)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PracticeCountSecondAll)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LabCountSecond)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LabCountSecondAll)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HoursForCourseWork)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cons)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ConsAll)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ExamHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DivHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AllHours)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeacherName)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.PartOfYear)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Npr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreditsECTS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SelfWorkHours)
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>
@if (HttpContext.Current.User.IsInRole("admin"))
    {
        <hr />
            @Html.ActionLink("Edit", "CreatedLoadZO", new { id = ViewBag.Id }, new { @class="btn btn-info" })
        <hr />
    }
