@model IEnumerable<Schedule.Models.LoadModels.DayLoadRegular>

<hr />
<h2>Load Creating Panel</h2>
<hr />
<ul class="nav nav-pills nav-stacked">
    <li>@Html.ActionLink("Let`s get it started...", "CreateLoad", "Load")</li>
</ul>
<hr />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LoadName)
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Date)
        </th>*@
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.LoadName)
        </td>
        @*<td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>*@
        <td>
            @Html.ActionLink("Details", "CreatedLoad", new { id=item.Id }) 
        </td>
    </tr>
}

</table>
