@model IEnumerable<Schedule.Models.FileModel>

<hr />
<h2>Load Creating Panel</h2>
<hr />
<ul class="nav nav-pills nav-stacked">
    <li>@Html.ActionLink("Let`s get it started...", "CreateLoad", "Load")</li>
</ul>
<hr />
@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Path)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Path)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.ActionLink("Parse", "Parse", new { id=item.Id }) 
        </td>
    </tr>
}

</table>*@
