@model Schedule.Models.TeacherModel

@{
    ViewBag.Title = "Details";
}

<h2>Информация</h2>
<hr />
<div>
    <h4>Данные о преподавателе</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Surname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surname)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.IdDegree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdDegree)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdPosition)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdPosition)
        </dd>*@
        <dt>
            @Html.DisplayNameFor(model => model.Degree)
        </dt>

        <dd>
            <label>@ViewBag.Degree</label>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            <label>@ViewBag.Position</label>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
