<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
           
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    @Html.ActionLink("Schedule", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">

                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Admin panel", "Index", "Admin")</li>
                        <li>@Html.ActionLink("Profile", "Index", "User")</li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>@Html.ActionLink("Log Out", "Logout", "Account")</li>
                    </ul>
                </div>
                       
        </div>
    </div>

    <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3 col-md-2 sidebar" role="navigation">
                    <ul class="nav nav-sidebar">
                        <li>@Html.ActionLink("Users", "Users", "Admin")</li>
                        <li>@Html.ActionLink("Groups", "Index", "Groups")</li>
                        <li>@Html.ActionLink("Degrees", "Index", "Degrees")</li>
                        <li>@Html.ActionLink("Positions", "Index", "PositionModels")</li>
                        <li>@Html.ActionLink("Teachers", "Index", "TeacherModels")</li>
                        <li>@Html.ActionLink("Files", "Index", "File")</li>
                        <li>@Html.ActionLink("Users", "Users", "Admin")</li>
                        <li>@Html.ActionLink("Groups", "Index", "Groups")</li>
                        <li>@Html.ActionLink("Degrees", "Index", "Degrees")</li>
                        <li>@Html.ActionLink("Positions", "Index", "PositionModels")</li>
                        <li>@Html.ActionLink("Teachers", "Index", "TeacherModels")</li>
                        <li>@Html.ActionLink("Files", "Index", "File")</li>

                    </ul>
                    
                </div>
                <div class="col-sm-offset-3 col-md-offset-2">
                    @RenderBody()
                    <footer>
                        <p>&copy; @DateTime.Now.Year – приложение ASP.NET</p>
                    </footer>
                </div>
            </div>
        </div>
    <hr />
                    


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    
</body>
</html>
